<html>
    <head>
        <title>Stratford Library App</title>
    </head>
    <body style="background-color:grey; font-family:calibri;">
        <h1>Stratford Library App</h1>
        <p>Welcome to the Stratford Library App!</p>
        <p>In this app you will be able to keep track of the different books 
        that are avaliable and view details of readers borrowing books!</p>
        <p>You can add order, books and customer details through our online forms on our app. </p>
        {% block body %}
        {% endblock body %}
    </body>
</html>